body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid: 1fr min-content min-content 1fr /1fr;
  align-items: center;
  justify-items: center;
  overflow-x: hidden;
}

section {
  width: 100vw;
  overflow: hidden;
  position: relative;
  --v-offset: 60px;
  --curve-height: 120px;
}
section:before,
section:after {
  content: "";
  display: block;
  background: white;
  width: calc(100vw + 2 * var(--v-offset));
  height: var(--curve-height);
  position: absolute;
  border-radius: 50%;
  left: calc(-1 * var(--v-offset));
  right: calc(-1 * var(--v-offset));
}
section:before {
  top: calc(-0.6 * var(--curve-height));
}
section:after {
  bottom: calc(-0.6 * var(--curve-height));
}
.wrapper {
  display: grid;
  grid-template-rows: 300px;
  grid-auto-flow: column;
  grid-gap: 24px;

  scroll-snap-type: x mandatory;
}

.wrapper img {
  scroll-snap-align: center;
}
img[class^="images0"] {
  animation: bannermove 20s linear 2s infinite;
}
img[class^="images1"] {
  animation: bannermove 20s linear 2s infinite;
}

img[class^="images2"] {
  animation: bannermove 20s linear 2s infinite;
}

img[class^="images3"] {
  animation: bannermove 20s linear 2s infinite;
}
@keyframes bannermove {
  0% {
    margin-left: 0%;
  }

  100% {
    margin-left: -380%;
  }
}
.wrapper:hover img[class^="images"] {
  animation-play-state: paused;
  cursor: pointer;
}
img[class^="images0"]:hover {
  transform: scale(1.5);
  height: 100% !important;
}
img[class^="images1"]:hover {
  transform: scale(1.5);
  height: 100% !important;
}
img[class^="images2"]:hover {
  transform: scale(1.5);
  height: 100% !important;
}
img[class^="images3"]:hover {
  transform: scale(1.5);
  height: 100% !important;
}
